@{
    ViewData["Title"] = "Odalarımız";
}


<link rel="stylesheet" href="~/css/odasayfasi.css" />

<style>


</style>

<div style="margin:50px;">
    <h3 style="color:#031454;">@ViewData["Title"]</h3>
    <br />

    <div class="row text-center">
        <div class="column">
            <div class="card">
                <img src="https://www.eliaermouhotel.com/uploads/images/398.jpg?v=202003201128" style="width:100%; height:300px;">
                <div class="container">
                    <br />
                    <h2>Standart Oda</h2>
                    <p class="title">Gecelik = 200₺ </p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <br />
                    <a href="/Booking/NewIndex/" class="btn btn-primary" style="width:250px; background-color:#031454; margin-bottom:20px;">Rezervasyon</a>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="https://www.landmarklondon.co.uk/wp-content/uploads/2019/05/Executive-Family-1800x1200-1.jpg" style="width:100%; height:300px;">
                <div class="container">
                    <br />
                    <h2>Aile Odası</h2>
                    <p class="title">Gecelik = 500₺ </p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <br />
                    <a href="/Booking/NewIndex/" class="btn btn-primary" style="width:250px; background-color:#031454; margin-bottom:20px;">Rezervasyon</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="https://cdn.extranetwork.com/property-photos/164/1605702122_WZGKTFMOM0_medium.jpg" style="width:100%; height:300px;">
                <div class="container">
                    <br />
                    <h2>Suit Oda</h2>
                    <p class="title">Gecelik = 1000₺ </p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <br />
                    <a href="/Booking/NewIndex/" class="btn btn-primary" style="width:250px; background-color:#031454; margin-bottom:20px;">Rezervasyon</a>
                </div>
            </div>
        </div>
    </div>
</div>