@{
    ViewData["Title"] = "Bize Ulaşın";
}

<link rel="stylesheet" href="~/css/iletisim.css" />

<div style="margin:50px;">
    <h3 style="color:#031454;">@ViewData["Title"]</h3>

    <contact-form></contact-form> @* CustomTagHelper *@
</div>
