@{
    ViewData["Title"] = "Hizmetlerimiz";
}
<link rel="stylesheet" href="~/css/odasayfasi.css" />

<div style="margin:50px;">
    <h3 style="color:#031454;">@ViewData["Title"]</h3>
    <br />
    <div class="row text-center">
        <div class="column">
            <div class="card">
                <img src="https://yenibademli.com/tema/genel/uploads/hizmetler/gal_07082019_ramadaplazaistanbulcitycenterodaservisi_Thumb_1920X1080.jpg" style="width:100%; height:300px;">
                <div class="container">
                    <br />
                    <h2>Oda Servisi</h2>
                    <br />
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="https://media-magazine.trivago.com/wp-content/uploads/2018/06/21154639/istanbul-kapali-havuzlu-oteller-wow-hotel-istanbul-saglik-kulubu-kapali-havuz.jpg" style="width:100%; height:300px;">
                <div class="container">
                    <br />
                    <h2>Açık ve Kapalı Havuz</h2>
                    <br />
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="https://www.adytransfer.com.tr/dimg/urun/20814270062147324147transferli-vito.jpg" style="width:100%; height:300px;">
                <div class="container">
                    <br />
                    <h2>Havaalanı Servisi</h2>
                    <br />
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center">

        <div class="column">
            <div class="card">
                <img src="https://www.zorlugrand.com/_FILES/Contents/649/Image.jpg" style="width:100%; height:300px;">
                <div class="container">
                    <br />
                    <h2>Otopark</h2>
                    <br />
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="https://www.acapulco.com.tr/images/details/b/spa-wellness-spor-salonu-857.jpg" style="width:100%; height:300px;">
                <div class="container">
                    <br />
                    <h2>Spor Salonu</h2>
                    <br />
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="https://play-lh.googleusercontent.com/bdwM_61LXLIzZOy1WboWWTWm0y0yfzTwm1og5od5hm4U4ktdkW3DqWYvLfAi6OEk7kA" style="width:100%; height:300px;">
                <div class="container">
                    <br />
                    <h2>Wifi</h2>
                    <br />
                </div>
            </div>
        </div>

    </div>

    
</div>