@{
    ViewData["Title"] = "Ana Sayfa";
}

<link rel="stylesheet" href="~/css/arkaplan.css" />

<div class="text-center">
    <div class="resim">
        <h1 style="background-color:#031454;">KenataOtel</h1>
        <h3 style="color:white; background-color:#031454; position:relative; top:40%;">"Evinizdeki Rahatlık"</h3>
    </div>
</div>
